* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ECEFF4;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    transition: all .2s;
}

.container.menu-isActive {
    width: 80%;
}

.side-menu {
    width: 0%;
    height: 100%;
    align-self: flex-end;
    border-right: 2px solid rgba(0, 0, 0, 0.427);
    position: relative;
    overflow-y: auto;
    transition: all .2s;
    opacity: 0;
}

.side-menu.menu-isActive {
    width: 20%;
    opacity: 100;
}

@media screen and (max-width: 992px) {
    .container.menu-isActive {
        width: 60%;
    }

    .side-menu.menu-isActive {
        width: 40%;
    }

    .title-area {
        width: 90%;
    }

    .text-area {
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .container.menu-isActive {
        width: 0%;
        opacity: 0;
    }

    .side-menu.menu-isActive {
        width: 100%;
    }
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

ul {
    /* height: 100%; */
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    list-style-type: none;
    gap: 10px;
}

li {
    width: 90%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px;
    cursor: default;
    position: relative;
}

li:last-child {
    border-top: 2px solid black;
}

li.active,
li[isActive = true],
li:hover {
    background-color: #000000;
    color: white;
}

li i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

i:hover {
    color: red;
    cursor: pointer;
}

textarea {
    width: 70%;
    outline: none;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #E5E9F0;
    padding: 20px;
    /* margin-left: 5%; */
    font-size: 18px;
}

.title-area {
    height: 100px;
    overflow: hidden;
}

.text-area {
    height: 400px;
}

.bars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 27px;
    height: 22px;
    position: absolute;
    z-index: 100;
    top: 30px;
    left: 40px;
    position: relative;
    cursor: pointer;
}

.bars span {
    width: 100%;
    height: 4px;
    /* position: absolute; */
    background-color: black;
}

.btns {
    display: flex;
    gap: 10px;
    /* width: 100px; */
    /* height: 40px; */
    position: absolute;
    top: 20px;
    right: 20px;
}

.add-note,
.save-note,
.dlt-note {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECEFF4;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    white-space: nowrap;
    transition: all .2s;
}

.btn-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    background-color: #E5E9F0;
    border: 1px solid black;
    position: absolute;
    bottom: -35px;
    border-radius: 2px;
    opacity: 0;
    transition: all .2s;
    z-index: 100;
    pointer-events: none;
}

.btn-hover::before {
    content:'';
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    border: 1px solid black;
    border-right: none;
    border-bottom: none;
    position: absolute;
    top: -5px;
    background-color: #E5E9F0;
}

.add-note:hover,
.save-note:hover,
.dlt-note:hover {
    background-color: #dadcdf;
}

.add-note:hover > span,
.save-note:hover > span {
    opacity: 1;
    bottom: -55px;
}

svg {
    width: 25px;
    height: 25px;
}